<?xml version='1.0' encoding='UTF-8'?>

<bag xmlns:boolean="http://www.w3.org/2001/XMLSchema#boolean" xmlns:int="http://www.w3.org/2001/XMLSchema#int" int:version="1">
 <SurveyView int:survey_view_int_operations_mode="0">
  <BottomUpGrid>
   <ColumnStructure DefaultColumnLayout="Default"/>
  </BottomUpGrid>
  <TopDownGrid>
   <ColumnStructure DefaultColumnLayout="Top Down"/>
  </TopDownGrid>
 </SurveyView>
 <workflow int:selected="0" boolean:accuracyEnable="true">
  <pmVectorization>
   <checked boolean:a1="true" boolean:a3="false" boolean:a6="false" boolean:a7="false"/>
  </pmVectorization>
 </workflow>
 <MainView int:SidebarWidth="411"/>
</bag>
